/* students */
.card {
    margin: 10px;
}
.table {
  margin: 15px;
}

.formAddStudent {
  border: 2px solid rgb(106, 106, 223);
  width: 350px;
  margin: 50px auto;
}
.formRow {
  margin: 10px;
}
label {
  display: block;
}
.inputAddStudent {
  width: 300px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.inputAddStudentCourse {
  width: 270px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.buttonAddStudent {
  width: 300px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.row_table {
  cursor: pointer;
}
.addStudentCourse {
  color: rgb(218, 174, 109);
  float: right;
  margin-right: 20px;
  margin-top: 5px;
  cursor: pointer;
}
.delAddOfAdmin {
  color: rgb(238, 88, 88);
  margin-left: 16px;
  cursor: pointer;
}

.btnStudent {
  margin: 10px;
}
.searchStudent, .searchTeacher {
  height: 25px;
  margin-bottom: 5px;
}
.infoStudent, .infoTeacher {
  cursor: pointer;
}
a {
  text-decoration: none;
}