* {
    margin: 0;
    padding: 0;
}


.margin-left-10 {
    margin-left: 10px;
}

.app-container {
    min-height: 1000px;
}

/* Header */
.header {
    height: 200px;
}

.info .left,
.info .right {
    display: flex;
    align-items: center;
    position: relative;
}

.header .info {
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin: 0 32px;
}

.header .info .logo {
    width: 100px;
    margin-right: 10px;
}

.header .navbar {
    background-color: #c8d8e4;
    height: 50px;
    padding: 0 50px;
}

.header .navbar a {
    text-decoration: none;
    color: rgb(110, 43, 43);
}

.header__navbar-select-link {
    text-decoration: none;
    color: black;
}

.header__navbar-select-link:hover {
    color: black;
}

.header_navbar-user {
    position: absolute;
    bottom: 25px;
    display: none; 
}
.info .right h2:hover, .header_navbar-user:hover {
    cursor: pointer;
}
.info .right:hover  .header_navbar-user {
    display: block;
}
/* Footer */

.footer {
    background-color: #c8d8e4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px
}

.footer .left {
    font-size: 20px;
}

.footer .left i {
    margin-right: 8px;
}

.footer .right {
    text-align: end;
}

/* Not found photo */

.NotFoundPage, .noInformation {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noInformation p {
    margin-top: 50px;
    font-size: 40px;
}
