.container {
    margin: 50px;
}

.coures-list-title {
    font-size: 2.5rem;
}

.courses-list {
}

.courses-item {
    font-size: 2rem;
    list-style-type: none;
    border: 2px solid blue;
    padding: 15px;
    margin-bottom: 40px;
}
