.text-center {
    text-align: center;
}

.mb-16 {
    margin-bottom: 16px;
}

/* Teacher home */

.page-container {
    padding: 20px 50px;
}

.list-title {
    font-size: 2.5rem;
    padding-bottom: 20px;
}

.courses-item  {
    font-size: 2rem;
    list-style-type: none;
    padding: 15px;
    margin-bottom: 40px;
    cursor: pointer;
    background-color: #aecadf;
    border-radius: 10px;
}

.courses-item:hover {
    transform: scale(1.05);
}

/* Course details */

.exam-info {
    font-size: 24px;
    list-style-type: none;
    background-color: #aecadf;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
    cursor: pointer;
}

.exam-info li {
    font-size: 16px;
}

.link {
    color: rgb(59, 105, 175);
    /* text-decoration: none; */
}

.primaryButton {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
}

.primaryButton:hover {
    color: #12161c;
    background-color: rgb(129, 167, 168);
}

.commonButton {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    background-color: cadetblue;
}

.commonButton:hover {
    background-color: rgb(129, 167, 168);

}

.toCreateNewExamBtn a {
    text-decoration: none;
    color: black;
}

.toCreateNewExamBtn a:hover {
    color: black;
}

/* List students */

.list-student-container td,
.list-student-container table,
.list-student-container tr,
.list-student-container th {
    border: 2px solid rgb(115, 115, 209);
    border-collapse: collapse;
}

.list-student-container td,
.list-student-container th {
    padding: 10px 15px;
}

/* Create a new exam */

.formContainer {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

.formContainer * {
    padding: 10px;
    font-size: 18px;
}

.formContainer .addQuestionbtn {
    width: 20%;
    margin: 40px 40px 40px 0;
}

.formContainer .submitButton {
    width: 40%;
    margin: 40px auto;
}

.questionContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-bottom: 30px;
    padding: 10px;
}

.questionContainer * {
    padding: 10px;
}

.errorMessage {
    color: red;
}

/* View exam */

fieldset.showQuestion {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

fieldset.showQuestion input {
    padding: 10px;
    margin-bottom: 20px;
}